<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <!-- 기본 파비콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <!-- 구형 브라우저 호환용 ICO -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/auth/password-reset.css">
</head>
<body>
<div class="container">

    <div class="logo-area">
        <a href="/"><img src="/images/logo.png" alt="서비스 로고"></a>
    </div>

    <h1>비밀번호 재설정</h1>

    <div id="step1-email">
        <h2>이메일 주소 입력</h2>
        <form id="form-step1">

            <input type="email" id="email-input" placeholder="yourname@example.com" required>

            <div id="step1-message" class="error-message" style="color: red;"></div>

            <div class="recaptcha-container">
                <div class="g-recaptcha"
                     data-sitekey="6Ldk7XkrAAAAAAxuqQEO1tipReB8mCJcEx515UmD"
                     data-callback="onRecaptchaSuccess"
                     data-expired-callback="onRecaptchaExpired">
                </div>
            </div>

            <button type="submit" id="send-email-btn">인증메일 발송</button>
        </form>
    </div>

    <div id="step2-verification" style="display: none;">
        <h2>인증 코드 확인</h2>
        <p><strong><span id="display-email"></span></strong>(으)로 받으신 인증번호를 입력해주세요.
            <br/>인증번호는 1시간 동안만 유효합니다.</p>

        <form id="form-step2">

            <input type="text" id="auth-key-input" placeholder="인증 코드 6자리" required>

            <div id="step2-message" class="error-message" style="color: red;"></div>

            <button type="submit" id="verify-code-btn">인증 확인</button>
        </form>
    </div>

    <div id="step3-password" style="display: none;">
        <h2>새 비밀번호 설정</h2>
        <p>새로운 비밀번호를 입력해주세요. 비밀번호는 8자 이상 64자 이하입니다.</p>
        <form id="form-step3">
            <div>
                <input type="password" id="new-password-input" placeholder="비밀번호" required>
            </div>
            <div id="step3-dummy-div" class="error-message" style="color: red;"></div>
            <div>
                <input type="password" id="confirm-password-input" placeholder="비밀번호 확인" required>
            </div>
            <div id="step3-message" class="error-message" style="color: red;"></div>

            <button type="submit" id="reset-password-btn">비밀번호 변경</button>
        </form>

    </div>
</div>
<script src="/js/auth/password-reset.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>