spring:
    application:
        name: open-api-project
    security:
        user:
            name: user
            password:
    datasource:
        url: jdbc:mysql://localhost:3306/open_api_project?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
        username:
        password:
        driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
                show_sql: true

    mvc:
        view:
            prefix: /WEB-INF/views/
            suffix: .jsp