/*전체*/
.site-footer {
    background-color: #f8f8f8;
    padding: 16px 0;
    text-align: center;
    font-size: 13px;
    color: #666;
}

/*한줄로 적힌 내용*/
.footer-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}