/*members/me/main페이지*/
/*로그아웃 회원탈퇴 버튼 감쌈*/
.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px; /* 버튼 사이 간격 */
    margin-top: 20px;
}
/*로그아웃*/
.logout {
  margin-top: 30px;
}
.logout a {
  display: inline-block;
  font-size:14px;
  padding: 5px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
}
.logout a:hover {
  background-color:blue;
  color: white;
}

/*게임 게임 기록과 닉네임/등급/자산 푸른 박스로 감싸요*/
.member-wrapper {
    background-color: #eef4fb;
    min-height: 100vh;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    max-width: 950px;
    margin: 40px auto;
}

/*게임 기록과 닉네임/등급/자산*/
.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

/*자산,수익률,점수*/
.card-body {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 15px;
}

/*닉네임/등급/자산*/
.member-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 850px;
}

/*닉네임/비밀번호 변경 버튼*/
.member-container input[type="button"] {
  display: inline-block;
  padding: 10px 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
}
.member-container input[type="button"]:hover {
  background-color: #007bff;
  color: white;
}

/*회원탈퇴*/
.withdraw {
  margin-top: 30px;
}

/*회원탈퇴 버튼*/
.withdraw input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
}
.withdraw input[type="button"]:hover {
  background-color: #007bff;
  color: white;
}

/*members/me/nickname-change 페이지*/
/*닉네임 푸른 박스로 감싸요*/
.nickname-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eef4fb;
  min-height: 100vh;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 950px;
  margin: 40px auto;
}

/*닉네임 컨테이너*/
.nickname-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}
.nickname-container form {
  width: 100%;
  max-width: 800px;
}

/* 닉네임 입력칸 */
.nickname-container input[type="text"] {
  margin-left:80px;
  width: 80%;
  padding: 10px 10px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* 제출 버튼*/
.nickname-container input[type="submit"] {
  display: block;
  padding: 5px 10px;
  margin: 12px auto;
  margin-top: 60px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
}
.nickname-container input[type="submit"]:hover {
  background-color: #007bff;
  color: white;
}

/* 닉네임 피드백 메시지 */
#message {
  font-size: 13px;
  color: gray;
  margin-top: 6px;
  display: block;
}

/* 돌아가기 */
.nickname-container a {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #3366cc;
  text-decoration: underline;
}

/*members/me/password-change 페이지*/
.password-change-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eef4fb;
  min-height: 100vh;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 950px;
  margin: 40px auto;
  height: 100vh;
}

/*비밀번호 검증*/
#step1-verify-current {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}

/*비밀번호 검증 텍스트*/
#step1-verify-current input[type="password"] {
  width: 60%;
  padding: 5px 5px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/*비밀번호 검증 버튼*/
#step1-verify-current button[type="submit"] {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
}
#step1-verify-current button[type="submit"]:hover {
  background-color: #007bff;
  color: white;
}

/*비밀번호 검증 메신저*/
#step1-message {
  font-size: 13px;
  color: gray;
  margin-top: 6px;
  display: block;
}

/* 돌아가기 */
#step1-verify-current a {
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  color: #3366cc;
  text-decoration: underline;
}

/*비밀번호 변경*/
#step2-set-new {
  display: flex;
  flex-direction: column;
  align-items: center; /*세로정렬*/

  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}

/*비밀번호 변경 제목*/
#step2-set-new h2 {
  text-align: center;
  margin-bottom: 50px;
}

/*비밀번호 변경 form*/
#form-step2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*비밀번호 변경 버튼*/
#form-step2 button[type="submit"] {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
}
#form-step2 button[type="submit"]:hover {
  background-color: #007bff;
  color: white;
}

/*비밀번호 변경 텍스트*/
#step2-set-new input[type="password"] {
  width: 70%;
  padding: 5px 10px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/*새비밀번호 라벨*/
label[for="new-password-input"] {
  margin-right: 33px; /* 입력칸을 오른쪽으로 밀기 */
}

/*새비밀번호*/
.new-password-container {
  display: flex;
  flex-direction: row; /* 가로로 배치 */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

/*새비밀번호 확인*/
.confirm-password-container {
  display: flex;
  flex-direction: row; /* 가로로 배치 */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}
/*비밀번호 변경 틀릴 경우 메시지*/
#step2-message {
  font-size: 13px;
  color: gray;
  margin-top: 6px;
  display: block;
  margin-bottom : 20px;
}

/*members/me/witdraw*/
/*회원탈퇴는 감싸는 wrapper*/
.withdraw-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eef4fb;
  min-height: 100vh;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 950px;
  margin: 40px auto;
}

/*회원탈퇴 인증 전체*/
#step1-verification {
  display: flex;
  flex-direction: column;
  align-items: center; /*세로정렬*/

  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}

/*회원탈퇴 돌아가기*/
#step1-verification a {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #3366cc;
  text-decoration: underline;
}

/*회원탈퇴 경고문*/
#step1-verification h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

/*회원탈퇴 인증 입력*/
#withdraw-form {
  display: flex;
  flex-direction: column;
  align-items: center; /*세로정렬*/
  width: 100%;
  max-width: 800px;
}

/*비밀번호 입력칸*/
#withdraw-form input[type="password"] {
  width: 70%;
  padding: 6px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-top: 40px;
}

/*비밀번호 탈퇴하기 버튼*/
#withdraw-form button[type="submit"] {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
  margin-top:20px;
  margin-bottom:30px;
}
#withdraw-form button[type="submit"]:hover {
  background-color: #007bff;
  color: white;
}

/*회원탈퇴 인증 전체*/
#step2-goodbye {
  display: flex;
  flex-direction: column;
  align-items: center; /*세로정렬*/

  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}

/*회원탈퇴 시 나오는 문구 가운데 이동*/
#step2-goodbye h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

/*회원탈퇴 후 홈으로 이동*/
#step2-goodbye a {
  margin-left : 250px;
  margin-bottom: 100px;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #3366cc;
  text-decoration: underline;
}

.positive {
    color: #d93025; /* 붉은색 */
    font-weight: bold;
}

.negative {
    color: #1a73e8; /* 파란색 */
    font-weight: bold;
}

.neutral {
    color: #5f6368; /* 회색 */
    font-weight: bold;
}