<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 기본 파비콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <!-- 구형 브라우저 호환용 ICO -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/members.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="member-wrapper">
    <h1>마이 페이지</h1>
    <div class="container">
        <div class="member-container">
            <!--닉네임 등급 자산조회 등등-->
            <strong>닉네임</strong> <span id="nickname"></span>
            <input type="button" value="닉네임변경" onclick="location.href= window.location.pathname + '/nickname'"/>
            <input type="button" value="비밀번호변경"
                   onclick="location.href= window.location.pathname + '/password'"/><br>
        </div>
    </div>
</div>
<div class="button-wrapper">
    <div class="withdraw">
        <input type="button" value="회원탈퇴" onclick="location.href = window.location.pathname + '/withdraw'"><br>
    </div>
    <div class="logout">
        <a href="#" id="logout-link" class="nav-button logout-button">로그아웃</a>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/header.js"></script>
<script>
    window.onload = async function () {
        const token = localStorage.getItem('jwt-token');
        if (!token) {
            document.getElementById('load-more').style.display = 'none';
            document.getElementById('message').innerText = '로컬 스토리지에 토큰이 없습니다. 먼저 로그인을 해주세요.';
            return;
        }
        try {
            const res1 = await fetch(`/api/members/me`,{
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            });
            if(!res1.ok) throw new Error('회원 정보를 불러오지 못했습니다');
            setupLogout();
            const responseBody = await res1.json();
            const member = responseBody.data;
            document.getElementById('nickname').innerText = member.nickname;

        }catch(err) {

        }
    }

    function setupLogout() {
        const logoutLink = document.getElementById('logout-link');
        if (logoutLink) {
            logoutLink.addEventListener('click', function(event) {
                event.preventDefault();
                localStorage.removeItem('jwt-token');
                alert('로그아웃 되었습니다.');
                window.location.href = '/';
            });
        }
    }
</script>
</body>
</html>