/*비밀번호 변경 전체*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*이메일 입력받는 div*/
#step1-email {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*이메일 입력받는 form*/
#step1-email form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* 입력 요소들을 form 너비에 맞게 */
}

/*이메일 입력받는 input type text*/
#email-input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

/*이메일 입력받는 버튼*/
#send-email-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #a8cfff;
  border: none;
  color: white;
  margin-top: 10px;
}
#send-email-btn:hover {
  background-color: #007bff;
  color: white;
}

/*이메일 인증코드 div*/
#step2-verification {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*이메일 인증코드 form*/
#form-step2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* 입력 요소들을 form 너비에 맞게 */
}

/*이메일 인증코드 input type text*/
#auth-key-input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

/*이메일 인증코드 버튼*/
#verify-code-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #a8cfff;
  border: none;
  color: white;
  margin-top: 10px;
}
#verify-code-btn:hover {
  background-color: #007bff;
  color: white;
}

/*새 비밀번호 div*/
#step3-password {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*새 비밀번호 form*/
#form-step3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* 입력 요소들을 form 너비에 맞게 */
}

/*새 비밀번호 와 검증하는 비밀번호 input type text*/
#new-password-input,
#confirm-password-input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

/*새 비밀번호 버튼*/
#reset-password-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #a8cfff;
  border: none;
  color: white;
  margin-top: 10px;
}
#reset-password-btn:hover {
  background-color: #007bff;
  color: white;
}


/* reCAPTCHA 위젯을 감싸서 위아래 10px 간격 추가 */
.recaptcha-container {
    margin: 10px 0;
}

/* reCAPTCHA 위젯을 가운데 정렬하는 방법 */
.recaptcha-container .g-recaptcha {
    /* reCAPTCHA를 감싸는 div가 자동으로 생성되므로 */
    /* 그 div를 가운데 정렬하기 위해 아래 스타일 적용 */
    display: flex;
    justify-content: center;
}

/*오류났을때 보여주는 메세지*/
.error-message {
  height: 22px;
  font-size: 15px;
  margin-top: 6px;
  display: block;
}
