<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.open_api_project.service.impl.MemberMapper">

    <select id="selectMemberByUsername" resultType="MemberVO">
        SELECT
            id,
            username,
            password,
            nickname,
            role,
            provider,
            provider_id,
            created_at
        FROM member
        WHERE username = #{username}
    </select>

    <insert id="insertMember" parameterType="MemberVO">
        INSERT INTO member (
            username,
            password,
            nickname,
            role,
            provider,
            provider_id,
            created_at
        ) VALUES (
            #{username},
            #{password},
            #{nickname},
            'ROLE_USER',
            #{provider},
            #{providerId},
            NOW()
        )
    </insert>

</mapper>